@charset "utf-8";

@font-face {
    font-family: 'SeoulHangangM';
    src: url('../font/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('../font/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #000;
}

:root {
    font-family: 'SeoulHangangM';
    --main-color: #94671A;
    --sub-color: #9A9595;
    --max-w: 1300px;
    font-size: 16px
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

body {
    position: relative;
    white-space: nowrap;
}

body * {
    font-weight: bold;
    box-sizing: border-box;
}

.hd {
    max-width: 1300px;
    margin: auto;
}

.hd .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.hd .inner * {
    color: var(--main-color);
}

.hd .inner h1 {
    font-size: 1.5rem;
    font-family: 'SeoulNamsanM';
}

.hd .logo {
    width: 26%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.hd .logo h1 {
    padding-left: 10px;
}

.hd .logo a {
    width: 14%;
}

.hd .logo a>img {
    width: 100%;
}

.gnb_con {
    width: 55%;
}

.gnb_con .gnb {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gnb_con .gnb>li {
    position: relative;
    z-index: 10000 !important;
}

.gnb li:hover>a {
    color: #F96B60;
}

.gnb .dep2 {
    display: block;
    position: absolute;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.gnb .dep2 li {
    white-space: nowrap;
    padding-top: 10px;
    z-index: 100;
}

.gnb .dep2 li a {
    color: #333;
    font-size: 12px;
}

.gnb .dep2 li a:hover {
    color: var(--sub-color);
}

.gnb_con .gnb:hover .dep2 {
    height: 200px;
}

.gnb_con .gnb:hover::before {
    height: 200px;
}

.gnb::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #f3f2f2;
    top: 86px;
    left: 0;
    opacity: 1;
    transition: .5s;
    background-image: url(../img/dep2_img.png);
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 10000;
}

.inner .person {
    overflow: hidden;
}

.inner .person a {
    color: #333;
}

.person .key {
    position: relative;
    padding-left: 18px;
}

.person .key::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.inner .person a:first-of-type {
    padding-right: 10px;
}

.but_o {
    display: none;
}

@media (max-width:600px) {

    .person,
    .gnb_con,
    .gnb .dep2 {
        display: none;
    }

    .hd .inner {
        padding-top: 20px;
    }

    .hd .logo {
        width: 65%;
        padding-left: 10px;
        justify-content: space-between;
    }

    .hd .inner h1 {
        font-size: 1.3rem;
        font-family: 'SeoulNamsanM';
    }

    .but_o {
        position: fixed;
        display: block;
        top: 2.8%;
        right: 2%;
        z-index: 100000;
        cursor: pointer;
    }
    
    .but_o p {
        width: 24px;
        height: 4px;
        border-radius: 4px;
        background-color: #f8d08b;
        margin-top: 4px;
        z-index: 100;
    }
    
    .gnb_con .gnb {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #F1EFEE;
        z-index: 10000;
        top: 0;
        right: 0;
        display: block;
        flex-direction: column;
        transition: .3s;
        padding: 5rem;
    }
    
    .gnb_con.on {
        display: block;
    }
    
    .gnb_con .gnb>li {
        z-index: 10000 !important;
        padding: 20px 0;
        border-bottom: 1px dotted #333;
    }

    .gnb_con .gnb li a {
        color: #BCBCBC;
    }
    
    .gnb li:hover>a {
        color: #F96B60;
    }
    
    .gnb li:hover .dep2 {
        display: block;
        position: relative !important;
        padding: 0;
        padding-top: 0px;
        /* border: 1px solid #000; */
    }
    
    .gnb .dep2 li {
        padding-top: 6px;
        z-index: 100;
    }
    
    .gnb .dep2 li a {
        color: #333;
        font-size: 12px;
        /* border: 1px solid #000; */
    }
    
    .gnb .dep2 li a:hover {
        color: var(--sub-color);
    }
    
    .gnb_con .gnb:hover .dep2 {
        height: 110px;
    }
    
    .gnb_con .gnb:hover::before {
       height: 0;
    }
    
    .person .key::before {
       display: none;
    }

    .gnb::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 0;
        background-color: #f3f2f2;
        top: 0;
        left: 0;
        opacity: 1;
        transition: .5s;
        background-image: url(../img/dep2_img.png);
        background-position: top right;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        z-index: 10000;
    }

}

/* sec1 영역 */

.sec1 {
    max-width: var(--max-w);
    margin: auto;
    padding-top: 50px;
}

.sec1 .banner_con {
    display: flex;
    justify-content: space-between;
}

.sec1 .banner_img {
    padding: 30px 30px;
}

.sec1 .banner_img img {
    width: 100%;
}

.sec1 .banner_p {
    padding: 5rem 2rem;
    color: var(--sub-color);
}

.sec1 .banner_p .title_1 {
    font-size: 1.8rem;
    line-height: 1.5rem;
}

.sec1 .banner_p .title_1>h2 {
    padding-left: 5.6rem;
}

.sec1 .banner_p .title_1>h3 {
    padding-left: 9rem;
}

.sec1 .banner_p strong {
    font-size: 2.2rem;
}

.sec1 .banner_p h2 {
    position: relative;
}

.sec1 .banner_p h2::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #F3EFD4;
    position: absolute;
    top: -1.7rem;
    right: 4rem;
    z-index: -1;
}

.sec1 .banner_p>a {
    padding-left: 4rem;
}

.sec1 .banner_p strong {
    color: #333;
}

.sec1 .title_2 {
    margin-top: 4.5rem;
    width: 500px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    color: #000;
    position: relative;
}

.sec1 .title_2 a {
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}

.sec1 .title_2 a:hover {
    color: var(--sub-color);
    cursor: pointer;
}

.sec1 .title_2 span:nth-of-type(1) {
    width: 50px;
}

.sec1 .title_2 span:nth-of-type(2) {
    flex-grow: 1;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec1 .title_2 span:nth-of-type(3) {
    font-size: 0.8em;
}

.sec1 .title_2 .box1 {
    padding: 2rem;
    background-color: white;
}

.sec1 .box1::after,
.sec1 .box1::before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

.sec1 .box1::before {
    background-image: url(../img/Layer_6.png);
    top: -24%;
    left: -15%;
    width: 200px;
    height: 200px;
}

.sec1 .box1::after {
    background-image: url(../img/Layer_5.png);
    bottom: -35%;
    right: -15%;
    width: 180px;
    height: 180px;
}

.sec1 .title_2 h3 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    position: relative;
}

.sec1 .title_2 h3::before {
    content: "";
    width: 90%;
    border: 1px solid #000;
    position: absolute;
    top: 2rem;
}

.sec1 .title_2 a {
    border-bottom: 1px solid #000;
}

@media (max-width:600px) {

    .sec1 {
        height: 600px;
        position: relative;
    }

    .sec1 .banner_con * {
        position: absolute;
    }

    .sec1 .banner_con img {
        top: 80%;
        left: 30%;
    }

    .sec1 .banner_p {
        top: 5px;
        width: 100%;
        height: 100%;
    }

    .sec1 .banner_p .title_1 {
        position: absolute !important;
        top: 30px;
        white-space: nowrap;
        font-size: 1.4rem;
    }

    .sec1 .banner_p .title_1 h3 {
        padding-left: 35%;
    }

    .sec1 .title_1 strong {
        font-size: 1.8rem;
    }

    .sec1 .banner_p .title_1 h2::after {
        width: 30px;
        height: 30px;
        right: -1rem;
        top: -1rem;
    }

    .sec1 .banner_con .banner_img {
        width: 350px;
        top: 15%;
        left: -8%;
    }

    .sec1 .banner_con img {
        width: 100%;
    }

    .sec1 .title_2 {
        top: 68%;
        left: 13%;
        width: 75%;
        height: 40px;
        background-color: white;
    }

    .sec1 .title_2 .box1 {
        padding: 5px 0 0 5px;
        text-align: center;
        width: 100%;
    }

    .sec1 .title_2 .box1 a {
        position: static;
        border-bottom: 0;
    }

    .sec1 .title_2 .box1 a>span:nth-of-type(3) {
        position: absolute;
        right: 10px;
    }

    .sec1 .banner_p .title_2 h3,
    .sec1 .banner_p .title_2 a>span:first-child,
    .sec1 .title_2 .box1 a:nth-of-type(1)~a {
        display: none !important;
    }

    .sec1 .banner_p .box1::after {
        top: 10px;
        right: -30px;
        width: 70px;
        height: 70px;
    }

    .sec1 .banner_p .box1::before {
        top: -1.5rem;
        left: -2.2rem;
        width: 70px;
        height: 70px;
    }
}

/*  sec2 영역  */

.sec2 {
    height: auto;
    margin: 60px 0 0 0;
    padding: 20px 0 160px 0;
    background-image: url(../img/html1.png);
    background-size: cover;
    background-position: 15% 15%;
    position: relative;
    overflow: hidden;
    /* background-position: bottom center */
}

.sec2 .banner_con2 {
    max-width: 1200px;
    margin: auto;
}

.sec2 .title_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    padding-top: 3%;
}

.sec2 .banner_con2 h4 {
    font-size: 2rem;
}

.sec2 .banner_con2 p {
    color: var(--sub-color);
}

.sec2 .swiper-container {
    padding-top: 2rem;
    overflow: hidden;
}

.sec2 .swiper-slide {
    height: 300px;
}

.sec2 .swiper-slide img {
    display: block;
    width: 100%;
}

.sec2 .slide_content>* {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.sec2 .slide_content a,
.sec2 .slide_content p {
    display: block;
}

.sec2 .slide_content a {
    color: transparent;
}

.sec2 .slide_content .text1 {
    position: absolute;
    bottom: 0;
}

.sec2 .slide_content:hover div {
    background-color: rgba(0, 0, 0, 0.2);
}

.sec2 .slide_content div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


.sec2 .slide_content p {
    width: 100%;
    color: transparent;
    font-size: 0.7rem;
    line-height: 1.5rem;
}

.sec2 .slide_content:hover p {
    color: white;
}

.sec2 .slide_content p:first-child {
    line-height: 1rem;
}

.swiper-slide {
    color: transparent;
    text-align: center;
    font-size: 18px;
}

.sec2 button {
    top: auto;
    bottom: 10%;
    position: absolute;
    font-weight: bold;
    color: var(--sub-color);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
}

.sec2 .swiper-button-prev {
    left: 50%;
    transform: translateX(-50px);
}

.sec2 .swiper-button-next {
    right: 50%;
    transform: translateX(50px);
}

@media (max-width:600px) {
    .sec2 {
        margin: 0;
    }

    .sec2 .swiper-wrapper {
        padding-top: 1rem;
    }

    .sec2 .title_3 {
        line-height: 2rem;
    }

    .sec2 .title_3 h4 {
        font-size: 1.4rem !important;
    }

    .sec2 .title_3 p {
        font-size: 0.8rem;
    }

    .swiper-container .text1>p {
        font-size: 0.8rem;
    }

    .swiper-container img,
    .swiper-container div {
        border-radius: 10px;
    }

    .pg1 {
        padding-bottom: 1rem;
    }
}

/* sec3 영역 */

.sec3 {
    height: auto;
    padding: 10% 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.sec3 .main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 5rem;
}

.sec3 .main_content h5 {
    font-size: 2rem;
    position: relative;
}

.sec3 .main_content p {
    color: var(--sub-color);
    font-size: 1.2rem;
}

.sec3 .main_content>h5::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #CAE0F9;
    position: absolute;
    bottom: 0.5rem;
    right: -1rem;
    z-index: -20;
}

.sec3 .main_content>h5::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #F3EFD4;
    position: absolute;
    z-index: -20;
    left: -1rem;
}

.sec3 .text_2 {
    display: flex;
    justify-content: center;
    /* border: 2px solid lightgreen; */
    line-height: 4rem;
}

.sec3 .text_2 p {
    color: #701E1E;
}

.sec3 .text_2 li {
    width: 23%;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sec3 .text_2 li img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.sec3 button {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-family: 'SeoulHangangM';
    transition: .3s;
}

.sec3 .Apply_1 {
    background-color: #FFF700;
}

.sec3 .Apply_2 {
    background-color: #FF7700;
}

.sec3 .Apply_1:hover {
    background-color: #fdfbbe;
    color: #333;
}

.sec3 .Apply_2:hover {
    background-color: #ffc38f;
    color: #333;
}

.sec3 {
    position: relative;
}

.sec3 .text_3 {
    top: 68%;
    transform: translateY(-50%);
    width: 100%;
    height: 25%;
    position: absolute;
    background-color: #F1EFEE;
    z-index: -100;
}

.sec3 .text_3 img {
    position: absolute;
    width: 15%;
    position: absolute;
    right: -100px;
    bottom: 0;
}

@media (max-width:600px) {
    .sec3 {
        margin-bottom: 50px;
    }

    .sec3 .main_content {
        line-height: 3rem;
    }

    .sec3 .main_content>h5::before {
        width: 30px;
        height: 30px;
        top: 1rem;
    }

    .sec3 .main_content>h5::after {
        width: 30px;
        height: 30px;
        bottom: 1rem;
    }

    .sec3 .main_content h5 {
        font-size: 1.4rem;
    }

    .sec3 .main_content p {
        font-size: 0.8rem;
    }

    .sec3 .text_2 li {
        /* border: 1px solid #000; */
        width: 60%;
        display: flex;
        justify-content: center;
        padding: 1rem 2rem;
    }

    .sec3 .text_2 {
        padding: 0;
    }

    .sec3 .text_3 {
        top: 70%;
        height: 40%;
    }

    .sec3 .text_3 img {
        display: none;
    }
}

/* sec4 영역 */
.sec4 {
    background-color: #F9F6F6;
    position: relative;
}


.sec4 .content_4 {
    padding: 50px 0 0 0;
    text-align: center;
    font-size: 2rem;
}

.sec4 .title_4 {
    max-width: 1400px;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.sec4 .title_4 .box4 {
    width: calc(100% / 3);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 2rem;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.sec4 .title_4 h6 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    position: relative;
}

.sec4 .title_4 h6::before {
    content: "";
    width: 100%;
    top: 50%;
    border: 1px solid black;
    position: absolute;
}

.sec4 .title_4 a {
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.sec4 .title_4 a:hover {
    color: var(--sub-color);
    cursor: pointer;
}



.sec4 .title_4 span:nth-of-type(1) {
    width: 20%;
}

.sec4 .title_4 span:nth-of-type(2) {
    width: 300px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec4 .title_4 span:nth-of-type(3) {
    font-size: 0.8em;
    width: 28%;
}

.sec4 .title_4 h3::before {
    content: "";
    width: 90%;
    top: 2rem;
    border: 1px solid #000;
    position: absolute;
}

.sec4 .title_4 .box4_title1 {
    color: #F9CACA;
}

.sec4 .title_4 .box4_title2 {
    color: #F5D6F6;
}

.sec4 .title_4 .box4_title3 {
    color: #CAE0F9;
}

.sec4_gnb {
    display: none;
}

@media (max-width:600px) {
    .sec4 {
        height: 500px;
        overflow-x: hidden;
    }

    .sec4::before {
        content: "";
        display: block;
        width: 250px;
        height: 200px;
        position: absolute;
        right: -150px;
        bottom: 0;
        background-image: url(../img/Layer_3.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .sec4 .content_4 {
        font-size: 1.4rem;
        padding-top: 1rem;
    }

    .sec4 h6 {
        padding-bottom: 0 !important;
    }

    .sec4 .title_4 {
        flex-wrap: wrap;
    }

    .sec4 .title_4 .box4 {
        width: calc(45% - 10px);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin: 15px;
        background-color: white;
        overflow: hidden;
    }

    .sec4 .title_4 h6 {
        font-size: 0.8rem;
        text-align: center;
        position: relative;
    }

    .sec4 .title_4 .box4 a {
        font-size: 0.8rem;
    }

    .sec4 .title_4 a span:nth-of-type(1),
    .sec4 .title_4 h6::before {
        display: none;
    }

    .sec4_gnb {
        display: block;
        /* border: 1px solid #000; */
        position: absolute;
        top: 54%;
        right: 15%;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }

    .sec4_gnb>a {
        border-bottom: none;
    }

    .sec4_gnb .sec4_dep1 {
        width: 150px;
        background-color: white;
    }

    .sec4_gnb .sec4_dep1 a {
        font-size: 0.8rem;
        padding-left: 5px;
    }
}

/* footer 영역 */



.foot {
    background-color: #303030;
    position: relative;
}

.foot_con {
    max-width: 1350px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_con .logo_fot {
    /* width: 240px; */
    display: flex;
    align-items: center;
    padding-right: 250px;
}

.foot_con .logo_fot>p {
    font-size: 1.6rem;
    padding-left: 5%;
    color: #D2D1D0;
}

.foot_con .fot_detail {
    color: #AEAEAE;
    font-size: 0.9rem;
    flex: 1;
}

.foot_con .fot_detail span {
    color: white;
}

.foot_con .fot_detail>div {
    display: flex;
}

.fot_detail .detail_1 {
    color: white;
    font-size: 1.4rem;
}

.fot_detail .detail_2 {
    padding-top: 3%;
}

.fot_detail .detail_3 {
    padding: 1.1rem 0 0.4rem 0;
}

.fot_detail .detail_1 p:nth-of-type(2) {
    padding-left: 5rem;
}

.fot_detail .detail_2 p:nth-of-type(2) {
    padding-left: 4.4rem;
}

.fot_detail .detail_3 p:nth-of-type(2) {
    padding-left: 4rem;
}

.foot_con img {
    width: 50px;
}

.fot_gnb {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    right: 250px;
}

.fot_gnb .fot_gnbcon {
    width: 170px;
    height: 1.4rem;
    background-color: white;
}

.fot_gnb .fot_gnbcon li {
    cursor: pointer;
    text-align: center;
    line-height: 1.4rem;
}

.fot_gnb .fot_gnbcon>li {
    position: relative;
}

.fot_gnb .fot_gnbcon>li::after {
    content: "▲";
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(-50%, -50%);
}

.fot_gnb .fot_gnbcon>li {
    position: relative;
}

.fot_gnbcon .fot_dep2 {
    width: 170px;
    height: 1.4rem;
    bottom: 3.6rem;
    display: none;
    position: absolute;
    white-space: nowrap;
}

.fot_gnbcon .fot_dep2 li {
    background-color: #fff;
}

.fot_gnbcon .fot_dep2 a:hover {
    color: #000;
}

.fot_gnbcon .fot_dep2 a {
    color: var(--sub-color);
    line-height: 1.4rem;
    font-size: 0.8rem;
}

.fot_gnbcon .fot_dep2 li {
    border: 1px solid #333;
}

.fot_gnb .fot_gnbcon .fot_dep2.on {
    height: 100px;
    display: block;
}

.icon_set .icon_con {
    height: 20px;
    display: flex;
}

.icon_set .icon_con a {
    padding-left: 7px;
}

.icon_con img {
    width: 100%;
    height: 100%;
}

@media (max-width:600px) {
    .foot * {
        /* border: 1px solid #000; */
    }

    .foot_con {
        max-width: 600px;
        height: 180px;
        flex-direction: column;
    }

    .foot_con .logo_fot {
        width: 240px;
        padding: 8px 20px 0 0;
        justify-content: center;
    }

    .foot_con .logo_fot img {
        width: 35px;
        height: 35px;
    }

    .foot_con .logo_fot>p {
        font-size: 1.2rem;
    }

    .foot_con .fot_detail {
        width: 400px;
        font-size: 0.8rem;
        justify-content: center;
        padding: 0.5rem 2rem;
    }

    .fot_detail .detail_1 {
        font-size: 1rem;
        padding-left: 2rem;
        justify-content: space-between;
        /* border: 1px solid #000; */
    }

    .fot_detail .detail_2 {
        padding-top: 1.3rem;
    }

    .fot_detail .detail_1 p:nth-of-type(2),
    .fot_detail .detail_2 p:nth-of-type(2),
    .fot_detail .detail_3 p:nth-of-type(2) {
        padding-left: 0;
    }

    .fot_detail .detail_1 p:nth-of-type(2) {
        padding-right: 1rem;
    }

    .fot_detail .detail_2 p:nth-of-type(2) {
        padding-left: 1rem;
    }

    .fot_detail .detail_3 p:nth-of-type(2) {
        padding-left: 4.2rem;
    }

    .fot_gnb {
        display: none;
    }
}